body {
  background-color: white;
  margin: 0;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.userInput {
  display: block;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  border: none;
  margin: 10px;
  font-size: 40px;
  padding: 10px 10px 10px 20px;
  width: 330px;
  box-sizing: border-box;
  text-align: left;
}

.inputImage {
  display: block;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  border: none;
  margin: 10px;
  font-size: 40px;
  padding: 10px 10px 10px 20px;
  width: 330px;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="file"] {
  display: none;
}

.custom-select {
  position: relative;
  font-family: Helvetica, sans-serif;
}
/* .custom-select select {
  display: none;
} */

.select-selected {
  background-color: black;
}

.select-items div,
.select-selected {
  display: block;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  border: none;
  margin: 10px;
  font-size: 40px;
  padding: 10px 10px 10px 20px;
  width: 330px;
  box-sizing: border-box;
  cursor: pointer;
}
.nav-bar {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
}

.search {
  box-sizing: border-box;
  margin: 5px 0px 5px 0px;
  grid-area: 1 / 4 / 2 / 6;
}
.inputSearch {
  border-radius: 50px;
  padding-left: 10px;
  border: none;
}
.search button {
  border: none;
  background-color: black;
  color: white;
}
.nav-bar h1 {
  margin: 5px 0px 5px 20px;
  font-size: 16px;
  font-weight: 400;
  grid-area: 1 / 1 / 2 / 2;
}

.divSignUpButton {
  grid-area: 1 / 7 / 2 / 8;
}
.divLoginButton {
  grid-area: 1 / 8 / 2 / 9;
}
.signUpButton {
  background-color: black;
  color: white;
  border: none;
  margin: 5px 0px 5px 0px;
}
.loginButton {
  background-color: black;
  color: white;
  border: none;
  margin: 5px 0px 5px 0px;
}

.hpProducts {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding: 0px;
  margin: 0px;
}
.userHpProducts {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.searchResultProducts {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.ProductDetails {
  display: flex;
  /* flex-wrap: wrap; */
  width: auto;
  font-family: Helvetica, sans-serif;
}

.ProductDetailsInfo {
  display: block;
  position: relative;
  top: 350px;
  left: 100px;
  width: 400px;
}
