body {
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.userInput {
  display: block;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  border: none;
  margin: 10px;
  font-size: 40px;
  padding: 10px 10px 10px 20px;
  width: 330px;
  box-sizing: border-box;
  text-align: left;
}

.inputImage {
  display: block;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  border: none;
  margin: 10px;
  font-size: 40px;
  padding: 10px 10px 10px 20px;
  width: 330px;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="file"] {
  display: none;
}

.nav-bar {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
}

.divCart {
  grid-area: 1 / 14 / 2 / 15;
  display: flex;
  align-items: center;
}

.search {
  box-sizing: border-box;
  margin: 5px 0px 5px 0px;
  grid-area: 1 / 7 / 2 / 11;
  text-align: center;
}
.inputSearch {
  border-radius: 50px;
  padding-left: 10px;
  border: none;
}
.productDetailsButtons:hover {
  background-color: black;
  color: white;
  font-style: italic;
}
.productDetailsButtons {
  position: relative;
  left: -10px;
  box-sizing: border-box;
  border-radius: 50px;
  padding-left: 10px;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 40px;
  width: 400px;
  margin: 8px;
  padding: 10px;
}
.search button {
  border: none;
  background-color: black;
  color: white;
}
.nav-bar h1 {
  margin: 5px 0px 5px 20px;
  font-size: 16px;
  font-weight: 400;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
}

.divSignUpButton {
  grid-area: 1 / 15 / 2 / 16;
  display: flex;
  align-items: center;
}
.divLoginButton {
  grid-area: 1 / 16 / 2 / 17;
  display: flex;
  align-items: center;
}
.nav-bar button {
  box-sizing: border-box;
  background-color: black;
  color: white;
  border: none;
  margin: 5px 0px 5px 0px;
}

.containerHp {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  /* position: relative;
  top: -100vh; */
}

.hpProducts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  padding: 0px;
  margin: 0px;
  grid-area: 1 / 1 / 17 / 9;
  overflow: scroll;
  height: 100vh;
}
.collectionProducts {
  position: relative;
  left: -5px;
  align-items: center;
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  height: 50vh;
  overflow-x: scroll;
  grid-area: 1 / 9 / 9 / 17;
  /* width: 100vh; */
}

.eachHpProduct img {
  position: relative;
  top: 3px;
}

.eachHpProduct {
  border: 1px solid black;
  width: 350px;
  text-align: center;
  width: 49.4%;
  height: 610px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 2;
}
.flex-collection {
}
.eachCollectionProduct {
  border: 1px solid black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 99%;
  z-index: 2;
}

.eachCollectionProduct img {
  padding: 0px 15px;
}

.userHpProducts {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.searchResultProducts {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.ProductDetails {
  display: flex;
  /* flex-wrap: wrap; */
  width: auto;
  font-family: Helvetica, sans-serif;
  justify-content: center;
}

.ProductDetailsInfo {
  display: block;
  position: relative;
  top: 350px;
  left: 50px;
  width: 400px;
  height: 850px;
}

.ProductDetailsImg {
  position: relative;
  left: -100px;
}

.userHp {
  display: flex;
}

.selectBorderRadius {
  /* border-radius: 50px !important;
  background-color: black !important;
  font-family: Helvetica, sans-serif;
  color: white; */
}

.containerPreviewCart {
  position: relative;
  left: -5px;
  align-items: center;
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  height: 50vh;
  overflow-x: scroll;
  grid-area: 9 / 9 / 17 / 17;
  /* flex-direction: row; */
  width: auto;
}
.eachPreviewCArt {
  border: 1px solid black;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2;
}
.flex-products {
  display: flex;
}
.nav-bar button h1 {
  font-family: Helvetica, sans-serif;
}

.nav-bar button {
  margin: 0px;
}

/* .containerTitles {
  position: relative;
  top: 0px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  z-index: 3;
  display: none;
} */

#New-arrivals {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 99;
  margin: 5px;
}

#Collection {
  grid-area: 1 / 9 / 2 / 10;
  z-index: 99;
  margin: 5px;
}

#Cart {
  grid-area: 9 / 9 / 10 / 10;
  z-index: 99;
  margin: 5px;
}

.containerAll {
  height: 100vh;
}
