body {
  background-color: #bbb;
  margin: 0;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.userInput {
  display: block;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  border: none;
  margin: 10px;
  font-size: 40px;
  padding: 10px 10px 10px 20px;
  width: 330px;
  box-sizing: border-box;
  text-align: left;
}

.inputImage {
  display: block;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  border: none;
  margin: 10px;
  font-size: 40px;
  padding: 10px 10px 10px 20px;
  width: 330px;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="file"] {
  display: none;
}

.custom-select {
  position: relative;
  font-family: Helvetica, sans-serif;
}
/* .custom-select select {
  display: none;
} */

.select-selected {
  background-color: black;
}

.select-items div,
.select-selected {
  display: block;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
  border: none;
  margin: 10px;
  font-size: 40px;
  padding: 10px 10px 10px 20px;
  width: 330px;
  box-sizing: border-box;
  cursor: pointer;
}
